@model IEnumerable<ShopDungCuTheThao.Models.LoaiSanPham>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CategoryName</title>
</head>
<body>
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item">@Html.DisplayFor(modelItem => item.Name)</a>
    }
</body>
</html>
