@using ShopDungCuTheThao.Models;
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/Public/css/cssAdmin.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        .table > tbody > tr > td {
            border-top: none;
            border-bottom: none;
        }

        .top-navbar {
            background-color: #e52222;
            padding: 10px;
        }

            .top-navbar ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: flex-end;
            }

            .top-navbar li {
                margin-right: 10px;
            }

            .top-navbar a {
                color: #333;
                text-decoration: none;
                height: 50px;
            }

        .navbar-brand {
            margin-right: auto;
        }

            .navbar-brand svg {
                width: 20px;
                height: 20px;
            }

        .navbar-form {
            position: absolute;
            right: 50%;
            transform: translateX(50%);
        }

            .navbar-form .form-group {
                margin-bottom: 0;
            }

            .navbar-form .form-control {
                width: 700px;
            }
    </style>
    <style>
        .top-navbar {
            position: sticky;
            top: 0;
            z-index: 99;
        }

        .navbar-fixed-top {
            position: sticky;
            top: 70px;
            z-index: 98;
        }

        body header {
            margin: auto;
        }

        body .container {
            width: 1500px;
        }

        body .container {
            width: 1500px;
        }

            body .container content {
                display: flex;
                border-radius: 7px;
                height: 750px;
                position: relative;
                top: -30px;
            }

            body .container .content-left {
                flex: 20%;
                position: relative;
                left: 20px;
                top: 15px;
            }

            body .container .content-right {
                flex: 80%;
                height: 700px;
                background-color: white;
                text-align: center;
                position: relative;
                left: 20px;
            }

        hr {
            background-color: black;
            border-width: 5px;
        }

        .ct-r-wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .ct-r-l {
            flex: 60%;
            text-align: right;
        }

        .z {
            position: relative;
            left: -120px;
            opacity: 0.5;
        }

        .c {
            opacity: 0.5;
            padding-top: 20px;
        }

        .ct-r-r {
            flex: 30%;
        }

        #luu {
            background-color: tomato;
            width: 80px;
            height: 50px;
            border-radius: 5px;
            position: relative;
            left: -320px;
        }

        #form {
            height: 600px;
        }

        #name {
            width: 400px;
            height: 35px;
            border-radius: 5px;
        }

        #dob-day, #dob-month, #dob-year {
            width: 100px;
            height: 35px;
            border-radius: 5px;
        }

        #em {
            position: relative;
            left: -230px
        }

        #sdt {
            position: relative;
            left: -365px
        }

        #gt {
            position: relative;
            left: -320px
        }

        strong {
            margin-left: -20px;
        }
    </style>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .custom-button {
            width: 75px;
            height: 35px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }

            .custom-button:hover {
                background-color: #0056b3;
            }

        #image-upload-input {
            display: none;
        }
        .yl931K {
            color: rgba(0,0,0,.8);
            width: 46.27949%;
        }
        .lKFOxX, .pZMZa7 {
            text-align: center;
        }
        .lKFOxX {
            width: 15.4265%;
        }

        .lKFOxX, .pZMZa7 {
            text-align: center;
        }
        ._5f317z {
            width: 10.43557%;
            text-align: center;
        }
        .\+4E7yJ {
            width: 17.70417%;
            text-align: center;
        }
        .lgcEHJ {
            padding: 0 12px 0 20px;
            display: flex;
            flex-direction: row-reverse;
            min-width: 58px;
            box-sizing: border-box;
        }
        .eUrDQm, .LAQKxn {
            display: flex;
        }

        .eUrDQm {
            width: 21.03811%;
            box-sizing: border-box;
            position: relative;
            flex-direction: column;
        }
        .G7E4B7, .o7pJBk {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .o7pJBk {
            width: 17.24138%;
        }
        .G7E4B7 {
            flex-direction: column;
            width: 14.88022%;
        }

        .G7E4B7, .o7pJBk {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .mhcjog, .ofQLuG {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .ofQLuG {
            width: 22.43557%;
            color: #ee4d2d;
        }
        ._0p-F-m {
            flex-direction: column;
        }

        .mhcjog {
            width: 12.70417%;
            text-transform: capitalize;
        }

        .mhcjog, .ofQLuG {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .zoXdNN {
            display: flex;
            align-items: center;
        }
        .WanNdG {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }

        img {
            border: 0;
        }

        user agent stylesheet
        img {
            overflow-clip-margin: content-box;
            overflow: clip;
        }
        .JB57cn {
            text-decoration: none;
            color: rgba(0,0,0,.87);
            display: block;
            margin-bottom: 5px;
            max-height: 32px;
            text-overflow: ellipsis;
            word-break: break-all;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        .JB57cn, .TyNN8t {
            line-height: 16px;
            overflow: hidden;
        }
        .TyNN8t{position:relative;left:100px}
        .G7E4B7 {
            flex-direction: column;
            width: 15.88022%;
        }

        .G7E4B7, .o7pJBk {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .MRh9G6 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 2.4265%;
        }
        ._8Xhu5\+ {
            display: flex;
            align-items: center;
        }
        .v3H4Zf {
            width: 50px;
            height: 32px;
            border-left: 0;
            border-right: 0;
            font-size: 16px;
            font-weight: 400;
            box-sizing: border-box;
            text-align: center;
            cursor: text;
            border-radius: 0;
            -webkit-appearance: none;
        }
        .stardust-checkbox__box {
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            position: relative;
            width: 16px;
            height: 16px;
            flex-shrink: 0;
            border-radius: 2px;
            border: 1px solid rgba(0,0,0,.14);
            text-align: center;
            box-shadow: inset 0 2px 0 0 rgba(0,0,0,.02);
            margin-right: 8px;
        }
        .stardust-checkbox__input {
            opacity: 0;
            top: 0;
            left: 0;
            position: absolute;
        }
        .stardust-checkbox {
            font-family: -apple-system,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
            font-weight: 300;
            font-size: 12px;
            display: flex;
            align-items: center;
            cursor: default;
            position: relative;
            color: rgba(0,0,0,.54);
            max-width: 400px;
        }
        .yl931K {
            color: rgba(0,0,0,.8);
            width: 46.27949%;
        }
        .lKFOxX, .pZMZa7 {
            text-align: center;
        }
        .lKFOxX {
            width: 15.4265%;
        }

        .lKFOxX, .pZMZa7 {
            text-align: center;
        }
        ._5f317z {
            width: 10.43557%;
            text-align: center;
        }
        .\+4E7yJ {
            width: 12.70417%;
            text-align: center;
        }
        .shopee-input-quantity {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }

            .shopee-input-quantity button {
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
            }

            .shopee-input-quantity input {
                width: 30px;
                text-align: center;
            }
        .BjIo5w {
            display: flex;
            align-items: center;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
            border-radius: 0.125rem;
            overflow: hidden;
            border-radius: 3px;
            height: 55px;
            font-size: 14px;
            background: #fff;
            margin-bottom: 12px;
            color: #888;
            padding: 0 20px;
            width: 1290px
        }
        .\--3Iu\+ {
            height: 21rem;
        }

        .snlrc5 {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 37.5rem;
            flex-direction: column;
        }
        .\--3Iu\+ .\+2nxRQ {
            width: 6.75rem;
            height: 6.125rem;
        }

        .\+2nxRQ {
            background-position: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            width: 12.5rem;
            height: 11.1875rem;
            background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/9bdd804….png);
        }
        .\--3Iu\+ .zH4psk {
            color: rgba(0,0,0,.4);
            font-size: 2.875rem;
            line-height: 1rem;
            margin-top: 1.125rem;
        }

        .OpSzHa, .zH4psk {
            margin-top: 1.625rem;
        }

        .zH4psk {
            font-weight: 700;
            font-size: 1.25rem;
        }
        .\--3Iu\+ .OpSzHa {
            margin-top: 1.0625rem;
        }

        .OpSzHa {
            text-decoration: none;
            color: rgba(0,0,0,.87);
            display: block;
        }
        .tsp{position:relative;right:350px}
        .ten {position: relative;left: 20px}
        .M-AAFK{position:relative;right:40px}
        .EOdsa-{position:relative;left:60px}
        #money{position:relative;left:60px}
    </style>
</head>
<body style="background-color:gainsboro;height:1600px">

    <div style="clear: both;"></div>
    <br />
    @using Microsoft.AspNet.Identity
    @{
        var userName = User.Identity.Name;
    }
    <div class="container" style="height:500px">
        <main class="if-swd">
            <div class="BjIo5w">
                <label class="stardust-checkbox"><input class="stardust-checkbox__input" type="checkbox" aria-checked="false" aria-disabled="false" tabindex="0" role="checkbox" aria-label="Click here to select all products"><div class="stardust-checkbox__box"></div></label>                <div class="yl931K">Sản Phẩm</div>
                <div class="pZMZa7">Đơn Giá</div>
                <div class="tsp">Tên Sản Phẩm</div>
                <div class="lKFOxX">Số Lượng</div>
                <div class="_5f317z">Số Tiền</div>
                <div class="+4E7yJ">Thao Tác</div>
            </div>
            @if (ViewBag.TongSoLuong == 0)
            {
                <section class="product-info" style="background-color:white">
                    <div class="snlrc5 --3Iu+">
                        <div class="+2nxRQ">
                        </div>
                        <div class="zH4psk">
                            Giỏ Hàng Của Bạn Trống

                        </div>
                    </div>
                </section>
            }
            else
            {
                <section class="product-info" style="background-color:white">
                    @foreach (var item in Model)
                    {
                        <div class="VPZ9zs" style="background-color:white">
                            <div class="zoXdNN">
                                <div class="lgcEHJ">
                                    <label class="stardust-checkbox">
                                        <input class="stardust-checkbox__input" type="checkbox" aria-checked="false" aria-disabled="false" tabindex="0" role="checkbox" aria-label="Click here to select this product">
                                        <div class="stardust-checkbox__box"></div>
                                    </label>
                                </div>
                                <div class="eUrDQm">
                                    <div class="LAQKxn">
                                        <a title="Thanh lò xo tập cơ tay, Gậy bẻ tập cơ tay lò xo đàn hồi 20kg, 30kg, 40kg, 50kg, 60kg kháng lực tập gym, dụng cụ tập tay" href="/Thanh-lò-xo-tập-cơ-tay-Gậy-bẻ-tập-cơ-tay-lò-xo-đàn-hồi-20kg-30kg-40kg-50kg-60kg-kháng-lực-tập-gym-dụng-cụ-tập-tay-i.398802463.23485012404?xptdk=5a315ae6-805e-47c4-898a-998efa1c72a4">
                                            <img class="WanNdG" src="~/Public/img/@item.iIMG" alt="product image">
                                        </a>

                                    </div>

                                </div>
                                <div class="ten">
                                    <a title="" href="">@item.iName</a>
                                </div>
                                <div class="o7pJBk">

                                </div>
                                <div class="G7E4B7">
                                    <div>
                                        <span class="M-AAFK vWt6ZL">@item.iPriceSale ₫</span>
                                        
                                    </div>
                                </div>
                                <div class="MRh9G6">
                                    <div class="_8Xhu5+ shopee-input-quantity">
                                        <button class="EOdsa-" aria-label="Decrease">
                                            <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon">
                                                <polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5"></polygon>
                                            </svg>
                                        </button>
                                        <input class="EOdsa- v3H4Zf" type="text" role="spinbutton" aria-valuenow="1" value="1">
                                        <button class="EOdsa-" aria-label="Increase">
                                            <svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon icon-plus-sign">
                                                <polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5">
                                                </polygon>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="ofQLuG"><span id="money">₫52.000</span></div>
                            </div>
                        </div>
                        <hr />
                    }
                </section>
            }
        </main>
    </div>
</body>
</html>