
@{
    ViewBag.Title = "Sự Kiện";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Sự kiện</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="https://www.flaticon.com/free-icons/three" type="image/png">
    <link rel="shortcut icon" href="https://www.flaticon.com/free-icons/three" type="image/png">

    <link href="~/Content/css/StyleTinTuc.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>*@

    @*<style>
            #main-content {
                width: 70%;
                float: left;
                padding: 20px;
            }

            #sidebar {
                width: 30%;
                float: right;
                padding: 20px;
                background-color: #f5f5f5;
                border: 1px solid #ccc;
                border-radius: 5px;
            }



            .block-title {
                padding: 20px;
            }

                .block-title h2 a {
                    font-size: 20px;
                    margin-bottom: 0;
                    color: white;
                    background-color: red;
                    text-decoration: none;
                    font-family: inherit;
                    display: block;
                    font-size: 1.5em;
                    margin-block-start: 0.83em;
                    margin-block-end: 0.83em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    font-weight: bold;
                }


            .more {
                font-weight: bold;
                color: blue;
                text-decoration: none;
            }

            .widget-13 {
                margin-bottom: 20px;
            }

            .widget-content {
                margin-top: 20px;
            }

            .widget-title {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .row {
                display: flex;
                flex-wrap: wrap;
                margin-left: -10px;
                margin-right: -10px;
            }

            .col-md-6,
            .col-sm-6 {
                width: 50%;
                padding: 10px;
            }

            .image img {
                width: 100%;
                height: auto;
                max-width: 100%;
                border-radius: 5px;
            }

            h3,
            h4 {
                font-size: 18px;
                margin: 10px 0;
            }

            p {
                margin-bottom: 0;
                font-size: 18px;
            }

            ul {
                list-style-type: none;
                padding: 0;
            }

                ul li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                }

                    ul li .image img {
                        width: 100px;
                        height: 70px;
                        object-fit: cover;
                        margin-right: 10px;
                        border-radius: 5px;
                    }

            li .image {
                margin-bottom: 10px;
            }

                li .image img {
                    width: 100px;
                    height: 70px;
                    object-fit: cover;
                    margin-right: 10px;
                    float: left;
                }

            h4 {
                margin-bottom: 10px;
                font-size: 20px;
            }

            .more:hover {
                text-decoration: underline;
            }

            .pagination-carousel {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                scroll-behavior: smooth;
                -webkit-overflow-scrolling: touch;
                -ms-overflow-style: -ms-autohiding-scrollbar;
            }


                .pagination-carousel .item {
                    flex: 0 0 auto;
                    width: 250px;
                    margin-right: 10px;
                }

            .post-item {
                margin-bottom: 20px;
            }

                .post-item a {
                    text-decoration: none;
                    color: #000;
                }

                .post-item img {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                }

                .post-item h4 {
                    font-size: 16px;
                    margin-top: 10px;
                    margin-bottom: 5px;
                }

                    .post-item h4 a {
                        text-decoration: none;
                        color: #000;
                    }

                        .post-item h4 a:hover {
                            text-decoration: underline;
                        }
        </style>*@

</head>
<body>

    <div id="main-content">

        <div class="widget_bulletin boxwidth">
            <div class="block-title"><h2><a href="">Khuyến mãi</a></h2><span class="more pull-right"><a href="">Xem thêm</a></span></div><div class="widget-content">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="image">
                            <a href="" title="[SALE lên đến 50%] Mừng khai trương Thiên Trường Sport Hải Phòng"><img class="lazy" src="~/ImageTinTuc/AnhKm1.jpg" alt=""></a>
                        </div>
                        <h3>
                            <a href="" title="[SALE lên đến 50%] Mừng khai trương Thiên Trường Sport Hải Phòng" rel="bookmark">[SALE lên đến 50%] Mừng khai trương Thiên Trường Sport Hải Phòng</a>
                        </h3>
                        <p>Thể Thao Thiên Trường chính thức khai trương chi nhánh thứ 5 tại địa chỉ 238 Hàng Kênh, Quận Lê Chân, Tp Hải Phòng giảm...</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul>
                            <li>

                                <div class="image">
                                    <a href="" title="ORENI ra mắt ghế massage OR-500 tặng quà SIÊU KHỦNG"><img class="lazy" src="~/ImageTinTuc/AnhKm2.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="ORENI ra mắt ghế massage OR-500 tặng quà SIÊU KHỦNG" rel="bookmark">ORENI ra mắt ghế massage OR-500 tặng quà SIÊU KHỦNG</a>
                                </h4>
                            </li>

                            <li>

                                <div class="image">
                                    <a href="" title="Khuyến mại vợt bóng bàn 729 khi mua bàn bóng bàn Đức Long"><img class="lazy" src="~/ImageTinTuc/AnhKm3.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Khuyến mại vợt bóng bàn 729 khi mua bàn bóng bàn Đức Long" rel="bookmark">Khuyến mại vợt bóng bàn 729 khi mua bàn bóng bàn Đức Long</a>
                                </h4>
                            </li>

                            <li>

                                <div class="image">
                                    <a href="" title="Xả hàng, giảm giá khi mua máy tập cơ bụng AB Rocket Twister"><img class="lazy" src="~/ImageTinTuc/AnhKm4.png" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Xả hàng, giảm giá khi mua máy tập cơ bụng AB Rocket Twister" rel="bookmark">Xả hàng, giảm giá khi mua máy tập cơ bụng AB Rocket Twister</a>
                                </h4>
                            </li>

                            <li>

                                <div class="image">
                                    <a href="" title="Mua xe đạp thể dục Orbitrek Elite tặng đai Massage Velform !"><img class="lazy" src="~/ImageTinTuc/AnhKm5.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Mua xe đạp thể dục Orbitrek Elite tặng đai Massage Velform !" rel="bookmark">Mua xe đạp thể dục Orbitrek Elite tặng đai Massage Velform !</a>
                                </h4>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="widget_bulletin boxwidth">
            <div class="block-title"><h2><a href="">Tin tức</a></h2><span class="more pull-right"><a href="">Xem thêm</a></span></div><div class="widget-content">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="image">
                            <a href="" title="Tác hại của việc lắc vòng sai cách | Cách lắc vòng giảm eo an toàn"><img class="lazy" src="~/ImageTinTuc/AnhTt1.jpg" alt=""></a>
                        </div>
                        <h3>
                            <a href="" title="Tác hại của việc lắc vòng sai cách | Cách lắc vòng giảm eo an toàn" rel="bookmark">Tác hại của việc lắc vòng sai cách | Cách lắc vòng giảm eo an toàn</a>
                        </h3>
                        <p>Lắc vòng tập bụng là phương pháp tập luyện giảm mỡ hiệu quả nhiều người áp dụng. Tuy nhiên nếu tập không đúng, tác hại của...</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul>
                            <li>

                                <div class="image">
                                    <a href="" title="[GIẢI ĐÁP] Đánh cầu lông 1 tiếng đốt bao nhiêu calo?"><img class="lazy" src="~/ImageTinTuc/AnhTt2.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="[GIẢI ĐÁP] Đánh cầu lông 1 tiếng đốt bao nhiêu calo?" rel="bookmark">[GIẢI ĐÁP] Đánh cầu lông 1 tiếng đốt bao nhiêu calo?</a>
                                </h4>
                            </li>

                            <li>

                                <div class="image">
                                    <a href="" title="Vòng lắc eo thông minh có hiệu quả không? Cách sử dụng vòng"><img class="lazy" src="~/ImageTinTuc/AnhTt3.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Vòng lắc eo thông minh có hiệu quả không? Cách sử dụng vòng" rel="bookmark">Vòng lắc eo thông minh có hiệu quả không? Cách sử dụng vòng</a>
                                </h4>
                            </li>

                            <li>

                                <div class="image">
                                    <a href="" title="Máy rung giảm mỡ bụng có hiệu quả không? Review máy rung bụng"><img class="lazy" src="~/ImageTinTuc/AnhTt4.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Máy rung giảm mỡ bụng có hiệu quả không? Review máy rung bụng" rel="bookmark">Máy rung giảm mỡ bụng có hiệu quả không? Review máy rung bụng</a>
                                </h4>
                            </li>

                            <li>

                                <div class="image">
                                    <a href="l" title="Ghế tập tạ đa năng tại Đà Nẵng: Tập hiệu quả, giá ưu đãi"><img class="lazy" src="~/ImageTinTuc/AnhTt5.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Ghế tập tạ đa năng tại Đà Nẵng: Tập hiệu quả, giá ưu đãi" rel="bookmark">Ghế tập tạ đa năng tại Đà Nẵng: Tập hiệu quả, giá ưu đãi</a>
                                </h4>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="widget_bulletin boxwidth">
            <div class="block-title"><h2><a href="">Tư vấn mua hàng</a></h2><span class="more pull-right"><a href="">Xem thêm</a></span></div><div class="widget-content">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="image">
                            <a href="" title="Mua ghế tập tạ đa năng tại Hà Nội ở đâu giá rẻ?"><img class="lazy" src="~/ImageTinTuc/AnhTv1.jpg" alt=""></a>
                        </div>
                        <h3>
                            <a href="" title="Mua ghế tập tạ đa năng tại Hà Nội ở đâu giá rẻ?" rel="bookmark">Mua ghế tập tạ đa năng tại Hà Nội ở đâu giá rẻ?</a>
                        </h3>
                        <p>Ghế tập tạ đa năng tại Hà Nội hỗ trợ gymer thực hiện đa dạng bài tập với tạ đơn, tạ đòn rèn thể hình. Bạn đã biết mua ghế...</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul>
                            <li>

                                <div class="image">
                                    <a href="" title="Mua ghế massage quận 12: Uy tín, hiện đại, giá tốt nhất!"><img class="lazy" src="~/ImageTinTuc/AnhTv2.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Mua ghế massage quận 12: Uy tín, hiện đại, giá tốt nhất!" rel="bookmark">Mua ghế massage quận 12: Uy tín, hiện đại, giá tốt nhất!</a>
                                </h4>
                            </li>

                            <li>

                                <div class="image">
                                    <a href="" title="Tư vấn mua giày đá bóng sân cỏ nhân tạo giá rẻ cho người mới"><img class="lazy" src="~/ImageTinTuc/Anhtv3.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Tư vấn mua giày đá bóng sân cỏ nhân tạo giá rẻ cho người mới" rel="bookmark">Tư vấn mua giày đá bóng sân cỏ nhân tạo giá rẻ cho người mới</a>
                                </h4>
                            </li>


                            <li>

                                <div class="image">
                                    <a href="" title="Mua tạ tay ở Hà Nội chỗ nào đảm bảo uy tín, chất lượng tốt?"><img class="lazy" src="~/ImageTinTuc/AnhTv4.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Mua tạ tay ở Hà Nội chỗ nào đảm bảo uy tín, chất lượng tốt?" rel="bookmark">Mua tạ tay ở Hà Nội chỗ nào đảm bảo uy tín, chất lượng tốt?</a>
                                </h4>
                            </li>

                            <li>

                                <div class="image">
                                    <a href="" title="Máy chạy bộ bao nhiêu tiền? Update bảng giá máy chạy mới nhất"><img class="lazy" src="~/ImageTinTuc/AnhTv1.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Máy chạy bộ bao nhiêu tiền? Update bảng giá máy chạy mới nhất" rel="bookmark">Máy chạy bộ bao nhiêu tiền? Update bảng giá máy chạy mới nhất</a>
                                </h4>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="widget_bulletin boxwidth">
            <div class="block-title"><h2><a href="">Dự Án Đã Triển Khai</a></h2><span class="more pull-right"><a href="">Xem thêm</a></span></div><div class="widget-content">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="image">
                            <a href="" title="Dự án lắp đặt thiết bị thể thao tại Học viện Kỹ thuật Quân sự "><img class="lazy" src="~/ImageTinTuc/AnhDa1.jpg" alt=""></a>
                        </div>
                        <h3>
                            <a href="" title="Dự án lắp đặt thiết bị thể thao tại Học viện Kỹ thuật Quân sự " rel="bookmark">Dự án lắp đặt thiết bị thể thao tại Học viện Kỹ thuật Quân sự </a>
                        </h3>
                        <p>Ngày 8/5/2023, dụng cụ thể thao Thiên Trường triển khai lắp đặt thiết bị thể thao tập luyện tại 236 Hoàng Quốc Việt, Hà...</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul>
                            <li>

                                <div class="image">
                                    <a href="" title="Dự án lắp đặt thiết bị thể thao ngoài trời tại thị xã Sơn Tây"><img class="lazy" src="~/ImageTinTuc/AnhDa2.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Dự án lắp đặt thiết bị thể thao ngoài trời tại thị xã Sơn Tây" rel="bookmark">Dự án lắp đặt thiết bị thể thao ngoài trời tại thị xã Sơn Tây</a>
                                </h4>
                            </li>

                            <li>

                                <div class="image">
                                    <a href="" title="Dự án lắp đặt thiết bị tập cho chiến sĩ CA tỉnh Lâm Đồng"><img class="lazy" src="~/ImageTinTuc/AnhDa3.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Dự án lắp đặt thiết bị tập cho chiến sĩ CA tỉnh Lâm Đồng" rel="bookmark">Dự án lắp đặt thiết bị tập cho chiến sĩ CA tỉnh Lâm Đồng</a>
                                </h4>
                            </li>

                            <li>

                                <div class="image">
                                    <a href="" title="Thiên Trường Sport đồng hành tặng quà Tết Quý Mão 2023 Trung tâm điều dưỡng thương binh Nho Quan"><img class="lazy" src="~/ImageTinTuc/AnhDa4.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Thiên Trường Sport đồng hành tặng quà Tết Quý Mão 2023 Trung tâm điều dưỡng thương binh Nho Quan" rel="bookmark">Thiên Trường Sport đồng hành tặng quà Tết Quý Mão 2023 Trung tâm điều dưỡng thương binh Nho Quan</a>
                                </h4>
                            </li>

                            <li>

                                <div class="image">
                                    <a href="" title="Dự án lắp đặt thảm sàn đa năng tại Nhà thi đấu đa năng tỉnh Bình Phước"><img class="lazy" src="~/ImageTinTuc/AnhDa5.jpg" alt="" width="100" height="70"></a>
                                </div>
                                <h4>
                                    <a href="" title="Dự án lắp đặt thảm sàn đa năng tại Nhà thi đấu đa năng tỉnh Bình Phước" rel="bookmark">Dự án lắp đặt thảm sàn đa năng tại Nhà thi đấu đa năng tỉnh Bình Phước</a>
                                </h4>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>




    </div>
    <div id="sidebar" class="sidebar">
        <div id="widget-13" class="widget 1">
            <div class="widget-title">BÀI VIẾT XEM NHIỀU</div>
            <div class="widget-content">
                <div class="pagination-carousel owl-carousel owl-theme">
                    <div class="item">
                        <article class="post-item">
                            <a href="">
                                <img class="img-responsive" alt="Các bài tập thể hình tại nhà cho nam không cần dụng cụ tốt nhất" src="~/ImageTinTuc/Anhpost1.jpg">

                            </a>
                            <h4><a href="">Các bài tập thể hình tại nhà cho nam không cần dụng cụ tốt nhất</a></h4>
                        </article>
                        <article class="post-item">
                            <a href="">
                                <img class="img-responsive" alt="Lịch tập Gym 6 ngày 1 tuần cho nam tham khảo từ HLV thể hình" src="~/ImageTinTuc/Anhpost2.jpg">
                            </a>
                            <h4><a href="">Lịch tập Gym 6 ngày 1 tuần cho nam tham khảo từ HLV thể hình</a></h4>
                        </article>
                        <article class="post-item">
                            <a href="">
                                <img class="img-responsive" alt="Hướng dẫn các bài tập tạ tay tại nhà đúng cách, hiệu quả Nhất !" src="~/ImageTinTuc/Anhpost3.jpg">
                            </a>
                            <h4><a href="">Hướng dẫn các bài tập tạ tay tại nhà đúng cách, hiệu quả Nhất !</a></h4>
                        </article>
                        <article class="post-item">
                            <a href="">
                                <img class="img-responsive" alt="Hướng dẫn gập bụng đúng cách, hiệu quả nhất cho nam và Nữ !" src="~/ImageTinTuc/Anhpost4.jpg">
                            </a>
                            <h4><a href="">Hướng dẫn gập bụng đúng cách, hiệu quả nhất cho nam và Nữ !</a></h4>
                        </article>
                    </div>
                    <div class="item">
                        <article class="post-item">
                            <a href="">
                                <img class="img-responsive" alt="Luật thi đấu và kỹ thuật chạy tiếp sức 4x100m các VĐV cần biết" src="~/ImageTinTuc/Anhpost5.jpg">
                            </a>
                            <h4><a href="">Luật thi đấu và kỹ thuật chạy tiếp sức 4x100m các VĐV cần biết</a></h4>
                        </article>
                        <article class="post-item">
                            <a href="">
                                <img class="img-responsive" alt="15 địa chỉ lớp học Yoga uy tín Nhất ở TpHCM có kèm học phí " src="~/ImageTinTuc/Anhpost6.jpg">
                            </a>
                            <h4><a href="">15 địa chỉ lớp học Yoga uy tín Nhất ở TpHCM có kèm học phí </a></h4>
                        </article>
                        <article class="post-item">
                            <a href="">
                                <img class="img-responsive" alt="Máy chạy bộ điện nào tốt nhất, phù hợp sử dụng cho gia đình?" src="~/ImageTinTuc/Anhpost7.jpg">
                            </a>
                            <h4><a href="">Máy chạy bộ điện nào tốt nhất, phù hợp sử dụng cho gia đình?</a></h4>
                        </article>
                        <article class="post-item">
                            <a href="">
                                <img class="img-responsive" alt="Kích thước sân bóng đá 5, 7, 11 người chuẩn FIFA bao nhiêu?" src="~/ImageTinTuc/Anhpost8.jpg">
                            </a>
                            <h4><a href="">Kích thước sân bóng đá 5, 7, 11 người chuẩn FIFA bao nhiêu?</a></h4>
                        </article>
                    </div>

                </div>
            </div>
        </div>

    </div>
    @*<script>
            $(document).ready(function () {
                $('.pagination-carousel').owlCarousel({
                    items: 1,
                    loop: true,
                    autoplay: true,
                    autoplayTimeout: 3000, // Thời gian chờ trước khi chuyển slide (3 giây)
                    autoplayHoverPause: true // Dừng autoplay khi rê chuột vào carousel
                });
            });
        </script>*@
</body>
</html>
